* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", Arial, Tahoma, sans-serif;
    line-height: 1.5;
}

header {
    border: 1px solid #3a8dde;
    box-shadow: 1px 1px 7px #292b337a;
    padding: 25px;
    margin: 50px auto 20px auto; 
    text-align: center;
    width: 70%;
}

.quiz {
    border: 1px solid #3a8dde;
    box-shadow: 1px 1px 7px #292b337a;
    margin: 20px auto;
    padding: 50px;
    width: 70%;
}

.quiz p {
    margin-top: 15px;
}

.answer-grid {
    display: grid;
    width: 100%;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 20px;
    justify-content: space-between;
    margin-top: 25px;
}

.start {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 20px 50px;
    border: 0;
    background-color: #3a8dde;
    color: white;
    outline: 0;
    font-weight: bold;
}

.btn:hover {
    width: 100%;
    padding: 20px 50px;
    border: 0;
    background-color: #0032A1;
    box-shadow: 1px 1px 7px #292b337a;
    color: white;
    outline: 0;
    font-weight: bold;
}

#start-btn {
    width: 200px;
    margin-top: 36px;
    padding: 20px 30px;
}

.feedback {
    margin-top: 40px;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

footer {
    background-color: white;
    border: 1px solid #3a8dde;
    box-shadow: 1px 1px 7px #292b337a;
    padding: 25px;
    margin: 20px auto 20px auto; 
    text-align: center;
    width: 50%;
}

.scores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}